* {
    font-size: 16;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Lobster', cursive;
    font-family: 'Fira Code', monospace;
    font-family: 'PT Serif', serif;*/
}

body {
    font-family: 'PT Serif', serif;
}

:root {
    --txtBlue: #1900ff;
    --bgBlue: #b1e0ff;
}



nav.container {
    position: fixed;
    z-index: 2;
    border: 1px groove var(--txtBlue);
    min-width: 100vw;
    min-height: 4vh;
    background-color: var(--bgBlue);

    display: flex;
    justify-content: space-around;
    align-items: stretch;

    font-weight: 600;
    color: var(--txtBlue);
    text-align: center;
}

.container > .box.first-box {
    padding: 0.3vh 0.3vw;
    margin-right: auto;
    font-family: 'Lobster', cursive
}

img.logo-pos {
    height: 4vh;
}

.container > .box {
    padding: 1vh 2vw;
    min-height: 4vh
}

.box > a:link {
    text-decoration: none;
}

.box:hover {
    background-color: #6abcff;
}

.box > a:visited {
    background-color: var(--bgBlue);
    color: var(--txtBlue);
}

.content {
    margin: 0 2.3vw;
}





/*
figcaption {
    font-weight: bolder;
    color: black;
}

h1 {
    text-align: center;
    font-size: 2em;
}

.container {
    display: flex;
    margin: 0.5% 5% 0 5%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container .first-box {
    width: 100%;
    border: 10px solid black;
    flex: 100%;
}

.container .box {
    width: 400px;
    margin: 0 5px 0 px;
    padding: 20px;
    border: 10px solid pink;
}*/