* {
    font-size: 100px;
    font-family: 'PT Serif', serif;
    /*font-family: 'Fira Code', monospace;*/
}

figcaption {
    font-weight: bolder;
    color: black;
}

h1 {
    text-align: center;
    font-size: 2em;
}

.container {
    display: flex;
    margin: 0.5% 5% 0 5%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.container .first-box {
    width: 100%;
    border: 10px solid black;
    flex: 100%;
}

.container .box {
    width: 400px;
    margin: 0 5px 0 px;
    padding: 20px;
    border: 10px solid pink;
}